{% extends "views/main.html" %}

{% block content %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1 class="section-heading">Puertas de Gabinete / Cocina</h1>
              <hr class="primary">
              <hr class="light">
              <p>Le presentamos nuestro catálogo de puertas para gabinete o cocina que sin duda embellecerán su hogar.</p>
              <!-- Row 1 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Recta Tablerada</p>
                      <img src="img/images/Tablerada_1.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Recta Cruceta</p>
                      <img src="img/images/Crucetarecta.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Recta Marco</p>
                      <img src="img/images/Marcorecto.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  </div>
              <hr class="light">

                  <!-- Row 2 -->
                  <div class="row">
                      <div class="col-md-4">
                          <p>Doble Bigote Tablerada</p>
                          <img src="img/images/Tableradadoblebigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                      </div>
                      <div class="col-md-4">
                          <p>Doble Bigote Cruceta</p>
                          <img src="img/images/Crucetadoblebigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                      </div>
                      <div class="col-md-4">
                          <p>Doble Bigote Marco</p>
                          <img src="img/images/Marcodoblebigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                      </div>
                      </div>
                      <hr class="light">


              <!-- Row 3 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Bigote Tablerada</p>
                      <img src="img/images/Tableradabigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Bigote Cruceta</p>
                      <img src="img/images/Crucetabigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Bigote Marco</p>
                      <img src="img/images/Marcobigote.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
              </div>
              <hr class="light">


              <!-- Row 4 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Arco Tablerada</p>
                      <img src="img/images/Tableradaarco.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Arco Cruceta</p>
                      <img src="img/images/Crucetaarco.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Arco Marco</p>
                      <img src="img/images/Marcoarco.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
              </div>
              <hr class="light">

              <!-- Row 5 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Medio Punto Tablerada</p>
                      <img src="img/images/Tableradamediopunto.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Medio Punto Cruceta</p>
                      <img src="img/images/Crucetamediopunto.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Medio Punto Marco</p>
                      <img src="img/images/Marcomediopunto.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
              </div>
              <hr class="light">


              <!-- Row 6 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Catedral Tablerada</p>
                      <img src="img/images/Tableradacatedral.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Catedral Cruceta</p>
                      <img src="img/images/Crucetacatedral.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Catedral Marco</p>
                      <img src="img/images/Marcocatedral.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
              </div>
              <hr class="light">


              <!-- Row 7 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Princesa</p>
                      <img src="img/images/Princesa.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Marco Ranurado</p>
                      <img src="img/images/Marcoranurado.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Ensamble de 45</p>
                      <img src="img/images/Ensamblede45.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
              </div>
              <hr class="light">

              <!-- Row 8 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Minimalista Horizontal</p>
                      <img src="img/images/Minimalistahorizontal.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>
                  <div class="col-md-4">
                      <p>Minimalista Vertical</p>
                      <img src="img/images/Minimalistavertical.jpg" class="img-responsive" alt="Puerta de Cocina">
                  </div>

              </div>
              <hr class="light">



          </div>
      </div>
  </div>
  <hr class="light">
<aside class="bg-dark">
  <div class="container text-center">
<h3>¡Visita nuestra galería!</h3>
<a href="/galeria-cocina" class="btn btn-default btn-xl">Ir a la galería</a>
</div>
</aside>
<hr class="light">
<div class="container text-center">
<a href="/" class="btn btn-primary btn-xl page-scroll">Volver</a>
</div>
</section>
{% endblock %}

{% block scripts %}
<!-- Custom Theme JavaScript -->
    {% endblock %}
