{% extends "views/main.html" %}

{% block content %}
<section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h1 class="section-heading">Puertas de Entrada</h1>
            <hr class="primary">
            <hr class="light">
            <p>Le presentamos nuestro catálogo de línea de puertas de entrada que darán estilo y distinción a cualquier hogar u oficina.</p>
            <!-- Row 1 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-01</p>
                    <img src="img/images/E-01.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-02</p>
                    <img src="img/images/E-02.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-03</p>
                    <img src="img/images/E-03.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-04</p>
                    <img src="img/images/E-04.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-05</p>
                    <img src="img/images/E-05.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-06</p>
                    <img src="img/images/E-06.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
            <!-- Row 2 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-07</p>
                    <img src="img/images/E-07.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-08</p>
                    <img src="img/images/E-08.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-09</p>
                    <img src="img/images/E-09.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-10</p>
                    <img src="img/images/E-10.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-11</p>
                    <img src="img/images/E-11.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-12</p>
                    <img src="img/images/E-12.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
            <!-- Row 3 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-13</p>
                    <img src="img/images/E-13.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-14</p>
                    <img src="img/images/E-14.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-15</p>
                    <img src="img/images/E-15.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-16</p>
                    <img src="img/images/E-16.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-17</p>
                    <img src="img/images/E-17.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-18</p>
                    <img src="img/images/E-18.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
            <!-- Row 4 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-19</p>
                    <img src="img/images/E-19.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-20</p>
                    <img src="img/images/E-20.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-21</p>
                    <img src="img/images/E-21.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-22</p>
                    <img src="img/images/E-22.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-23</p>
                    <img src="img/images/E-23.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-24</p>
                    <img src="img/images/E-24.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
            <!-- Row 5 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-25</p>
                    <img src="img/images/E-25.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-26</p>
                    <img src="img/images/E-26.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-27</p>
                    <img src="img/images/E-27.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-28</p>
                    <img src="img/images/E-28.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-29</p>
                    <img src="img/images/E-29.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-30</p>
                    <img src="img/images/E-30.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
            <!-- Row 6 -->
            <div class="row">
                <div class="col-md-2">
                    <p>E-31</p>
                    <img src="img/images/E-31.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
                <div class="col-md-2">
                    <p>E-32</p>
                    <img src="img/images/E-32.jpg" class="img-responsive" alt="Puerta de Madera de Entrada">
                </div>
            </div>
            <hr class="light">
        </div>
    </div>
</div>
<aside class="bg-dark">
  <div class="container text-center">
<h3>¡Visita nuestra galería!</h3>
<a href="/galeria" class="btn btn-default btn-xl">Ir a la galería</a>
</div>
</aside>
<hr class="light">
<div class="container text-center">
<a href="/" class="btn btn-primary btn-xl page-scroll">Volver</a>
</div>
</section>
{% endblock %}

{% block scripts %}
<!-- Custom Theme JavaScript -->
    {% endblock %}
