{% extends "views/galeria.html" %}

{% block content %}
<section>


      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 text-center">
              <h2 class="section-heading">Galería - Puertas de Interior</h2>
              <hr class="light">
            </div></div>
          <div class="row">
<ul class="pgwSlideshow">
    <li><img src="img/web/interior1.jpg" alt=""></li>
    <li><img src="img/web/interior2.jpg" alt=""></li>
    <li><img src="img/web/interior3.jpg" alt=""></li>
    <li><img src="img/web/interior4.jpg" alt=""></li>
    <li><img src="img/web/interior5.jpg" alt=""></li>
    <li><img src="img/web/interior6.jpg" alt=""></li>
    <li><img src="img/web/interior7.jpg" alt=""></li>
    <li><img src="img/web/interior8.jpg" alt=""></li>
    <li><img src="img/web/interior9.jpg" alt=""></li>
    <li><img src="img/web/interior10.jpg" alt=""></li>
    <li><img src="img/web/interior11.jpg" alt=""></li>
    <li><img src="img/web/interior12.jpg" alt=""></li>
    <li><img src="img/web/interior14.jpg" alt=""></li>
    <li><img src="img/web/interior15.jpg" alt=""></li>
    <li><img src="img/web/interior16.jpg" alt=""></li>
    <li><img src="img/web/interior17.jpg" alt=""></li>
    <li><img src="img/web/interior18.jpg" alt=""></li>
    <li><img src="img/web/interior19.jpg" alt=""></li>
</ul>
</div>
</div>
<br>
<div class="container">

<br>
<div class="row">
  <div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="col-lg-2 text-center">
      <a href="/galeria" class="btn btn-prim btn-xl page-scroll">Entrada</a>
  </div>
  <div class="col-lg-2 text-center">
    <a href="/galeria-interior" class="btn btn-primary btn-xl page-scroll">Interior</a>
</div>
<div class="col-lg-2 text-center">
  <a href="/galeria-cocina" class="btn btn-prim btn-xl page-scroll">Cocina</a>
</div>
<div class="col-lg-2 text-center">
  <a href="/galeria-vitrales" class="btn btn-prim btn-xl page-scroll">Vitrales</a>
</div>
<div class="col-lg-2 text-center">
  <a href="/artisticos" class="btn btn-prim btn-xl page-scroll">Artísticos</a>
</div>
<div class="col-lg-2 text-center">
  <a href="/ventanas" class="btn btn-prim btn-xl page-scroll">Ventanas</a>
</div>


</div>

      </div></div>

</section>
{% endblock %}
