{% extends "views/main.html" %}

{% block content %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1 class="section-heading">Puertas de Intercomunicación</h1>
              <hr class="primary">
              <hr class="light">
              <p>Le presentamos nuestro catálogo de línea de puertas interiores que darán estilo y distinción a cualquier hogar u oficina.</p>
              <!-- Row 1 -->
              <div class="row">
                  <div class="col-lg-12"><h3>Línea clásica</h3></div>
                  <div class="col-lg-12"><hr class="light"></div>

                  <div class="col-md-2">
                      <p>I-01</p>
                      <img src="img/images/I-01.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-02</p>
                      <img src="img/images/I-02.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-03</p>
                      <img src="img/images/I-03.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-04</p>
                      <img src="img/images/I-04.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-05</p>
                      <img src="img/images/I-05.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-06</p>
                      <img src="img/images/I-06.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 2 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>I-07</p>
                      <img src="img/images/I-07.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-08</p>
                      <img src="img/images/I-08.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-09</p>
                      <img src="img/images/I-09.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-10</p>
                      <img src="img/images/I-10.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-11</p>
                      <img src="img/images/I-11.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-12</p>
                      <img src="img/images/I-12.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 3 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>I-13</p>
                      <img src="img/images/I-13.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-14</p>
                      <img src="img/images/I-14.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-15</p>
                      <img src="img/images/I-15.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-16</p>
                      <img src="img/images/I-16.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-17</p>
                      <img src="img/images/I-17.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-18</p>
                      <img src="img/images/I-18.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 4 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>I-19</p>
                      <img src="img/images/I-19.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-20</p>
                      <img src="img/images/I-20.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-21</p>
                      <img src="img/images/I-21.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-22</p>
                      <img src="img/images/I-22.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-23</p>
                      <img src="img/images/I-23.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-24</p>
                      <img src="img/images/I-24.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 5 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>I-25</p>
                      <img src="img/images/I-25.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-26</p>
                      <img src="img/images/I-26.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-27</p>
                      <img src="img/images/I-27.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-28</p>
                      <img src="img/images/I-28.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-29</p>
                      <img src="img/images/I-29.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>I-30</p>
                      <img src="img/images/I-30.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 6 -->
              <div class="row">
                  <div class="col-lg-12"><h3>Línea Minimalista</h3></div>
                  <div class="col-lg-12"><hr class="light"></div>
                  <div class="col-md-2">
                      <p>M-01</p>
                      <img src="img/images/M-01.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-02</p>
                      <img src="img/images/M-02.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-03</p>
                      <img src="img/images/M-03.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-04</p>
                      <img src="img/images/M-04.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-05</p>
                      <img src="img/images/M-05.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-06</p>
                      <img src="img/images/M-06.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 7 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>M-07</p>
                      <img src="img/images/M-07.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-08</p>
                      <img src="img/images/M-08.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-09</p>
                      <img src="img/images/M-09.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-10</p>
                      <img src="img/images/M-10.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-11</p>
                      <img src="img/images/M-11.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-12</p>
                      <img src="img/images/M-12.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 8 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>M-13</p>
                      <img src="img/images/M-13.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-14</p>
                      <img src="img/images/M-14.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-15</p>
                      <img src="img/images/M-15.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>
                  <div class="col-md-2">
                      <p>M-16</p>
                      <img src="img/images/M-16.jpg" class="img-responsive" alt="Puerta de Madera Interior">
                  </div>

              </div>
              <hr class="light">
          </div>
      </div>
  </div>

<aside class="bg-dark">
  <div class="container text-center">
<h3>¡Visita nuestra galería!</h3>
<a href="/galeria-interior" class="btn btn-default btn-xl">Ir a la galería</a>
</div>
</aside>
<hr class="light">
<div class="container text-center">
<a href="/" class="btn btn-primary btn-xl page-scroll">Volver</a>
</div>
</section>
{% endblock %}

{% block scripts %}
<!-- Custom Theme JavaScript -->
    {% endblock %}
