<!DOCTYPE html>
<html lang="es-MX">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Puertas de madera y vitrales emplomados">
    <meta name="author" content="Nathalie Sicard">

    <title>Puertas y Vitrales SG</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    {% block css %}
<!-- Custom CSS -->
    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="img/carpintero.ico">
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">

        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                  <img src="img/logo.png">
                </a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li>
              <a class="page-scroll" href="/contacto"><i class="fa fa-phone"></i> (55) 58 61 21 71</a>
</li>
</ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="/entrada">Puertas de Entrada</a></li>
                            <li><a href="/intercomunicacion">Puertas de Interior</a></li>
                            <li><a href="/cocina">Puertas de Cocina</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/vitrales">Vitrales</a></li>
                            <li><a href="/artisticos">Vitrales artísticos</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/ventanas">Ventanas</a></li>
                        </ul></li>
                    <li>
                        <a class="page-scroll" href="/#services">Servicios</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/galeria">Galería</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#about">Nosotros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/contacto">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    {% block content %}
       This is the default body
    {% endblock %}


    <footer>
        <hr class="primary">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">

                    <strong class="copyright">Copyright &copy; 2015 <strong><a href="http://www.puertas.xyz">Puertas.xyz</a></strong> </strong>

                </div>
                <div class="col-md-4 text-center">

                    <ul class="list-inline quicklinks">
                        <li><a href="#"> </a>
                        </li>
                        <li><a href="#"> </a>
                        </li>
                    </ul>

                </div>
                <div class="col-md-4 social text-center">

                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/puertasyvitrales"><i class="fa fa-lg fa-facebook"></i></a></li>
                        <li><a href=#><i class="fa fa-lg fa-twitter"></i></a>
                        </li>


                        <li><a href=#><i class="fa fa-lg fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    {% block scripts %}
    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>
        {% endblock %}



</body>

</html>
