{% extends "views/main.html" %}

{% block content %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <h1 class="section-heading">Vitrales Emplomados</h1>
              <hr class="primary">
              <hr class="light">
              <p>Nuestra línea de vitrales emplomados para puerta de entrada darán un toque distintivo a su hogar y oficina.</p>
              <!-- Row 1 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>American Flor</p>
                      <img src="img/images/American_Flor.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>American Tulipán</p>
                      <img src="img/images/American_Tulip.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>American Royal</p>
                      <img src="img/images/American_Royal_C.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Roma 1 Corazón</p>
                      <img src="img/images/Roma1_Corazn.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Roma 1 Tulipán</p>
                      <img src="img/images/Roma_1_Tulip.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Roma 1 Royal C</p>
                      <img src="img/images/Roma1_Royal_C.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 2 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>Windsor Rombos</p>
                      <img src="img/images/Winsor_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Windsor Vaguet</p>
                      <img src="img/images/Winsor_Vaguet.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Windsor Burgundy</p>
                      <img src="img/images/Winsor_Burgundy.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Burderos Cocoles</p>
                      <img src="img/images/Burdeos_Cocoles.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Burdeos Pétalos</p>
                      <img src="img/images/Burdeos_Ptalos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Burdeos Rombos</p>
                      <img src="img/images/Burdeos_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 3 -->
              <div class="row">
                  <div class="col-md-2">
                      <p>Antony Gema</p>
                      <img src="img/images/Antony_Gema.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Antony Rombos</p>
                      <img src="img/images/Antony_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Genova Gema</p>
                      <img src="img/images/Genova_Gema.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Genova Rombos</p>
                      <img src="img/images/Genova_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Misouri 2 Corazón</p>
                      <img src="img/images/Misuri_Corazn2.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-2">
                      <p>Misouri 2 Diamante</p>
                      <img src="img/images/Misuri_Diamante_2.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
              </div>
              <hr class="light">
              <!-- Row 4 -->
              <div class="row">
                  <div class="col-md-3">
                      <p>Roma 2 Corazón</p>
                      <img src="img/images/Roma_2_corazn.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-3">
                      <p>Roma 2 Royal C.</p>
                      <img src="img/images/Roma_2_Royal_C.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-3">
                      <p>Milán Corazón</p>
                      <img src="img/images/Milan_Corazn.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-3">
                      <p>Milán Royal C.</p>
                      <img src="img/images/Milan_Royal_C.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>

              </div>
              <hr class="light">
              <!-- Row 5 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Misouri Corazón</p>
                      <img src="img/images/Misuri_Corazn.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Misouri Penélope</p>
                      <img src="img/images/Misuri_Penlope.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Misouri Arlington</p>
                      <img src="img/images/Misuri_Arlington.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>


              </div>
              <hr class="light">
              <!-- Row 6 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Gloria Corazón</p>
                      <img src="img/images/Gloria_Corazn.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Gloria Penélope</p>
                      <img src="img/images/Gloria_Penlope.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Gloria Escudo</p>
                      <img src="img/images/Gloria_Escudo.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>


              </div>
              <hr class="light">
              <!-- Row 7 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Arlington Tradición</p>
                      <img src="img/images/Arlington_Tradicin.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Arlington Penélope</p>
                      <img src="img/images/Arlington_Penlope.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Arlington Escudo</p>
                      <img src="img/images/Arlington_Escudo.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>


              </div>
              <hr class="light">
              <!-- Row 8 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Toledo Pétalos</p>
                      <img src="img/images/Toledo_Ptalos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Toledo Rombos</p>
                      <img src="img/images/Toledo_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Toledo Sol</p>
                      <img src="img/images/Toledo_Sol.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>


              </div>
              <hr class="light">
              <!-- Row 9 -->
              <div class="row">
                  <div class="col-md-4">
                      <p>Toledo Especial Pétalos</p>
                      <img src="img/images/Toledo_Especial_Ptalos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Toledo Especial Rombos</p>
                      <img src="img/images/Toledo_Especial_Rombos.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>
                  <div class="col-md-4">
                      <p>Toledo Especial Montaña</p>
                      <img src="img/images/Toledo_Especial_Montaa.jpg" class="img-responsive" alt="Vitral Emplomado">
                  </div>


              </div>
              <hr class="light">




          </div>
      </div>
  </div>

<aside class="bg-dark">
  <div class="container text-center">
<h3>¡Visita nuestra galería!</h3>
<a href="/galeria-vitrales" class="btn btn-default btn-xl">Ir a la galería</a>
</div>
</aside>
<hr class="light">
<div class="container text-center">
<a href="/" class="btn btn-primary btn-xl page-scroll">Volver</a>
</div>
</section>
{% endblock %}

{% block scripts %}
<!-- Custom Theme JavaScript -->
    {% endblock %}
